asn1crypto==0.24.0
banal==0.3.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
countrynames==1.5
coverage==4.5.1
cryptography==2.3.1
geoip2==2.7.0
idna==2.7
ipaddress==1.0.19
maxminddb==1.3.0
mock==2.0.0
normality==0.5.11
nose==1.3.7
pbr==3.1.1
pycodestyle==2.3.1
pycountry==18.2.23
pycparser==2.19
pyflakes==1.6.0
python-Levenshtein==0.12.0
PyYAML==4.2b1
requests==2.20.0
six==1.11.0
tornado==5.0
urllib3==1.24.1

-e git+https://git@github.com/ross/botie.git@d494fb939b270f67fdce6e9509787392934529c8#egg=botie
